body {
    background: linear-gradient(135deg, #0480bd, #02527a);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 12px 30px;
    font-size: 18px;
    color: white;
    background-color: #333;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: black;
    transform: scale(1.05);
}


img {
    width: 200px;
    height: auto;
    border-radius: 10px;}

.panel {
    background: rgba(0, 0, 0, 0.35);
    padding: 25px 40px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
button {
    outline: none;
}

button:focus,
button:active {
    outline: none;
}
