body {
    background: linear-gradient(90deg, #333, #02527a, #333);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 40px;
    font-family: 'Inter', Arial, sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 12px 30px;
    font-size: 18px;
    font-family: 'Inter';
    color: white;
    background-color: #333;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: black;
    transform: scale(1.05);
}


img {
    width: 200px;
    height: auto;
    border-radius: 10px;}

.panel {
    background: rgba(0, 0, 0, 0.35);
    padding: 25px 40px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
button {
    outline: none;
}

button:focus,
button:active {
    outline: none;
}

.image-YBA,
.image-BF {
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

.image-YBA img,
.image-BF img {
    width: 100px;
    height: auto;
    opacity: 0.5;
}

.image-YBA {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    transform: rotate(15deg);
}

.image-BF {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    transform: rotate(-15deg);
}
@keyframes swingYBA {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

.image-YBA {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    animation: swingYBA 3s ease-in-out infinite;
}
@keyframes swingBF {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

.image-BF {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    animation: swingYBA 3s ease-in-out infinite;
}
