body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 40px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 10px;
    padding: 12px 30px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}


img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}